{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Data Entry System v2 | {% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/st/css/uikit.min.css" />
{% block css %}
{% endblock %}
        <script src="/st/js/jquery.min.js"></script>
        <script src="/st/js/pad.js"></script>
{% block js %}
{% endblock %}
        <script src="/st/js/uikit.min.js"></script>
        <script src="/st/js/uikit-icons.min.js"></script>
    </head>
    <body>
<div class="uk-container uk-container-expand uk-light uk-background-secondary"><nav class="uk-navbar"><div class="uk-navbar-left"><a href="/main" class="uk-navbar-item uk-logo"><img src="/st/img/des2.png" class="uk-margin-small-right"> Data Entry System v2
                    </a></div> <div class="uk-navbar-right">
                    <ul class="uk-subnav">
                        <li>
                            <a href="#">
                                <span uk-icon="icon: menu"> {{ user }} </span>
                            </a>
                            <div uk-dropdown="mode: hover;">
                                <ul class="uk-nav uk-dropdown-nav">
					<li class="uk-nav-header">{% trans "Menu Options" %}</li>
                                    {% for url, icon, text in options %}
                                    <li><a href="{{ url }}"><span  uk-icon="icon: {{ icon }}"></span> {{ text }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    </ul>
    {% block baroptions %}
    {% endblock %}
     </div></nav></div>

        <div class="uk-background-cover uk-height-viewport uk-flex uk-flex-center uk-flex-middle" style="background-image: url(/st/img/teclado.png);">
            {% block body %}
            {% endblock %}
        </div>
{% block jsbottom %}
{% endblock %}
    </body>
</html>
