{% extends "main/baselogged.html" %}
{% load i18n %}
{% block baroptions %}
{% endblock %}
{% block body %}
{% if not ok %}
<div id="passworddialog" class="uk-child-width-3-4@s" uk-grid>
    <div><div class="uk-light uk-background-secondary uk-padding">
    <form action="/main/password" method="post">


	    <h2 class="uk-title">{% trans "Modify Password" %}</h2>

            {% csrf_token %}
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon " uk-icon="icon: lock"></span>
                    {{ form.current }}
                </div>
            </div>

            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon " uk-icon="icon: lock"></span>
                    {{ form.new }}
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon " uk-icon="icon: lock"></span>
                    {{ form.repeat }}
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                <span  uk-icon="icon: info"></span>
                    <p>{{ message }}</p>
                </div>
            </div>
                <div class="uk-text-right uk-margin">
			<button class="uk-button uk-button-default" type="button">{% trans "Cancel" %}</button>
			<button class="uk-button uk-button-primary" type="submit">{% trans "Ok" %}</button>
                </div>
    </form>
    </div></div>
</div>
{% else %}
            <div uk-alert class="uk-padding">
                <a class="uk-alert-close" uk-close></a>
                <h3> {{ message }} </h3>
            </div>
            <script type="text/javascript">
            setTimeout(function() {
                location.pathname='{% url "main:controlpanel" %}';
                },2000);
            </script>
{% endif %}
{% endblock %}
